.org-profile__desc .desc__title p{
  font-size: $default-third-font;
}

.org-supervised__title h3, .sidemenu__title{
  font-size: $default-four-font;
}

.sidemenu__list li a{
  font-size: $label-font-size;
}

.org-person__row .row__title h3, .org-person__row .row__title h3{
  font-size: $default-four-font;
}

.government__info-label{
  font-size: $default-font-size;
}

.government__info-title{
  font-size: $default-third-font;
}

.org-members__info .member__title{
  font-size: $default-third-font;
}

.org-members__info .member__desc{
  font-size: $label-font-size;
}

.org-person__row .row__toggle{
  font-size: $label-font-size;
}

.org-person__row .row__text{
  font-size: $default-font-size;
}

.org-person__row .row__toggle{
  font-size: $label-font-size;
}

.org-members__contact li ._text{
  font-size: $label-font-size;
}

.org-doc__name{
  font-size: $default-third-font;
}

.org-doc__size{
  font-size: $default-font-size;
}

.government-section__title{
  font-size: $logo-title-font;
}

.government-section__list .group__info-title a, .government-section__list .group__info-title a:link{
  font-size: $default-third-font;
}

.persons__info-name{
  font-size: $default-third-font;
}

.division-task{
  font-size: $spec-cab-font;
}

.persons__info-position{
  font-size: $label-font-size;
}

.persons__info-contacts-item span{
  font-size: $label-font-size;
}

.division-task__title{
  font-size: $default-font-size;
}
