<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
 http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
<display-name>OrgStructure</display-name>
    <description>OrgStructure</description>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
    </listener>
    <context-param>
        <param-name>gatein.wci.native.DisableRegistration</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:application-context.xml</param-value>
    </context-param>
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>OrgStructure</param-value>
    </context-param>
    <context-param>
        <param-name>spring.profiles.active</param-name>
        <param-value>${active.profile}</param-value>
    </context-param>
    <servlet>
        <servlet-name>rest-servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/context/servlet-context.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>rest-servlet</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rest-servlet</servlet-name>
        <url-pattern>/rest-api/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GateInServlet</servlet-name>
        <servlet-class>org.gatein.wci.api.GateInServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>GateInServlet</servlet-name>
        <url-pattern>/gateinservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewRendererServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.ViewRendererServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewRendererServlet</servlet-name>
        <url-pattern>/WEB-INF/servlet/view</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>image-servlet</servlet-name>
        <servlet-class>com.digdes.rst.documentManager.client.servlets.ImageUUIDServlet</servlet-class>
        <init-param>
            <param-name>imageWidth</param-name>
            <param-value>800</param-value>
        </init-param>
        <init-param>
            <param-name>imageHeight</param-name>
            <param-value>600</param-value>
        </init-param>
        <init-param>
            <param-name>convertFromSource</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>image-servlet</servlet-name>
        <url-pattern>*.ido</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>media-servlet</servlet-name>
        <servlet-class>com.digdes.rst.documentManager.client.servlets.MediaUUIDServlet</servlet-class>
        <init-param>
            <param-name>videoWidth</param-name>
            <param-value>800</param-value>
        </init-param>
        <init-param>
            <param-name>videoHeight</param-name>
            <param-value>600</param-value>
        </init-param>
        <init-param>
            <param-name>convertFromSource</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>media-servlet</servlet-name>
        <url-pattern>*.media</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>doc-servlet</servlet-name>
        <servlet-class>com.digdes.rst.documentManager.client.servlets.DocUUIDStreamServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>doc-servlet</servlet-name>
        <url-pattern>*.doc</url-pattern>
    </servlet-mapping>
</web-app>