// @import "../../../../frontend-shell/shared/skinsVariables/base/letter-spacing/hide";

.org-profile__img{
  display:none;
}

.persons__img{
  display:none;
}

.group__icon{
  display:none;
}

.persons__info{
  padding-left:0;
}
